<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://cdn.pixabay.com/photo/2018/02/23/09/03/human-3175027__340.jpg"
        width="140"
        height="140"
      />

      <h2>Angebot einsehen</h2>

      <p>{{heroText}}</p>

      <p>
        <a class="btn btn-default" href="#" role="button"
          >View details &raquo;</a
        >
      </p>
    </div>

    <div class="col-lg-4">
      <img
        class="rounded-circle-circle"
        src="https://cdn.pixabay.com/photo/2016/12/14/09/35/online-1905876__340.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />

      <h2>Domain kaufen</h2>

      <p>{{heroText}}</p>

      <p>
        <a class="btn btn-default" href="#" role="button"
          >View details &raquo;
        </a>
      </p>
    </div>

    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://cdn.pixabay.com/photo/2016/12/28/09/36/web-1935737_960_720.png"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />

      <h2>Transfer der Domain</h2>

      <p>{{heroText}}</p>

      <p>
        <a class="btn btn-default" href="#" role="button"
          >View details &raquo;</a
        >
      </p>
    </div>
  </div>
</div>
